<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>OCR PDF</title>
  </head>
  <body>
    <div class="container">
      <h1>Prześlij plik do OCR</h1>
      <form method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Wybierz plik</label>
          <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Prześlij</button>
      </form>
    </div>
  </body>
</html>
